*/.svn/*
/src/oving1/.svn/
/bin/
/.svn/
/.classpath
/.project
/libs/
/jex/
/tests/
/src/oving2/.svn/all-wcprops
/src/oving2/.svn/entries
/src/oving2/.svn/format
/src/oving2/.svn/prop-base/ConsoleRPN.java.svn-base
/src/oving2/.svn/prop-base/GUIRPN.java.svn-base
/src/oving2/.svn/text-base/ConsoleRPN.java.svn-base
/src/oving2/.svn/text-base/GUIRPN.java.svn-base
/src/oving3/.svn/all-wcprops
/src/oving3/.svn/entries
/src/oving3/.svn/format
/src/oving3/.svn/prop-base/Card.java.svn-base
/src/oving3/.svn/prop-base/CardDeck.java.svn-base
/src/oving3/.svn/prop-base/Kongefamilien.java.svn-base
/src/oving3/.svn/prop-base/Person.java.svn-base
/src/oving3/.svn/text-base/Card.java.svn-base
/src/oving3/.svn/text-base/CardDeck.java.svn-base
/src/oving3/.svn/text-base/Kongefamilien.java.svn-base
/src/oving3/.svn/text-base/Person.java.svn-base
/src/oving2/.svn/entries
/src/oving3/.svn/entries
/src/sokoban1/.svn/all-wcprops
/src/sokoban1/.svn/entries
/src/sokoban1/.svn/format
/src/sokoban1/.svn/prop-base/ConsoleSokoban.java.svn-base
/src/sokoban1/.svn/prop-base/GraphicsSokoban.java.svn-base
/src/sokoban1/.svn/text-base/ConsoleSokoban.java.svn-base
/src/sokoban1/.svn/text-base/GraphicsSokoban.java.svn-base
/src/oving2/.svn/entries
/src/oving3/.svn/entries
/src/oving5/.svn
/src/oving2/.svn/entries
/src/oving3/.svn/entries
/src/sokoban1/.svn/entries
/src/oving2/.svn/entries
/src/oving3/.svn/entries
/src/oving2/.svn/entries
/src/oving3/.svn/entries
/src/sokoban1/.svn/
/src/sokoban1/.svn/
/src/sokoban1/.svn/
/src/sokoban2/.svn
/src/sokoban1/.svn/entries
/src/oving2/.svn/entries
/src/oving2/.svn